<header>
    <div class="top-header">
        <div class="logo">
            <img src="/images/logo-mercado-liebre.svg" alt="logo">
        </div>
        <div class="form" action="#" method="GET">
            <input class="input" type="text"placeholder="Buscar productos, marcas y más" minlength="4">
            <buttom type="submit" class="submit" >  <i class="fa-solid fa-magnifying-glass">  </i> </buttom>
        </div>
    <p class="compra"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de credito</p>
    </div>
<nav class="main-navbar">
    <ul class="left-navbar">
        <li> <a href="#ofertas"> Ofertas</a></li>
        <li> <a href="#tiendaoficial"> Tiendas Oficiales</a> </li>
        <li> <a href="#vender"> Vender</a> </li>
        <li> <a href="#ayuda"> Ayuda</a> </li>
    </ul>

    <ul class="right-navbar">
        <li> <a href="/register"> Creá tu cuenta</a> <i class="fa-solid fa-id-card"></i></li>
        <li> <a href="/login"> Ingresa</a> <i class="fa-solid fa-right-to-bracket"></i> </li>
        <li> <a href="/store"> Mis Compras</a> <i class="fa-solid fa-bag-shopping"></i></li>
    </ul>
</nav>
<div class="burger-menu">
    <i class="fa-solid fa-bars"></i>
</div>
</header>