<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>

    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
</head>
<header>
    <img src="/images/logo-mercado-liebre.svg" alt="logo">
    <p>Lugar para poner barra de busqueda</p>
    <p> Compra en cuotas y sin tarjeta de credito</p>
    <ul type="'disc">
        <li> <a href="#ofertas"> Ofertas</a></li>
        <li> <a href="#tiendaoficial"> Tiendas Oficiales</a> </li>
        <li> <a href="#vender"> Vender</a></li>
        <li> <a href="#ayuda"> Ayuda</a></li>
    </ul>
    <ul>
        <li> <a href="#register"> Creá tu cuenta</a></li>
        <li> <a href="#login"> Ingresa</a> </li>
        <li> <a href="#store"> Mis Compras</a></li>
    </ul>
</header>
<body>
    <img src="/images/img-home-banner.jpg">
        <main >
            <section class="ultima visita">
            <strong> <h2 >Basado en su última visita</h2> </strong> 
            <img src="/images/img-cafetera-moulinex.jpg">
            <p>$6.770 </p> 
            <p>40% OFF </p> 
            <strong> <p>Cafetera Moulinex </p> </strong>

            <img src="/images/img-macbook-pro-2019.jpg">
            <p>$230.000 </p> 
            <p>20% OFF </p> 
            <strong> <p>MacBook Pro 2019 </p> </strong>

            <img src="/images/img-samsung-galaxy-s10.jpg">
            <p>$70.500 </p> 
            <p>10% OFF </p> 
            <strong> <p>Samsung Galaxy S10 </p> </strong>

            <img src="/images/img-tv-samsung-smart.jpg">
            <p>$23.200 </p> 
            <p>5% off </p> 
            <strong> <p>SmartTv Samsung 43" </p> </strong>
            </section>

            <section class="ofertas"> 
                <img src="/img-cafetera-moulinex.jpg">
                <p>$6.770 </p> 
                <p>40% OFF </p> 
                <strong> <p>Cafetera Moulinex </p> </strong>
    
                <img src="/images/img-macbook-pro-2019.jpg">
                <p>$230.000 </p> 
                <p>20% OFF </p> 
                <strong> <p>MacBook Pro 2019 </p> </strong>
    
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <p>$70.500 </p> 
                <p>10% OFF </p> 
                <strong> <p>Samsung Galaxy S10 </p> </strong>
    
                <img src="/images/img-tv-samsung-smart.jpg">
                <p>$23.200 </p> 
                <p>5% off </p> 
                <strong> <p>SmartTv Samsung 43" </p> </strong>
                </section>
        </main>

</body>
<footer>
    <nav>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </nav>
    <nav>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </nav>
    <nav>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </nav>
</footer>
</html>